<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    </head>
    <body>
        <h1>This is your session</h1>
        <form id="addf" enctype="multipart/form-data" action="/Image">
            <div id="add">
              <input style="width: 600px;" type="file" id="url" name="sample"></input><br>
              <div style="margin-top: 100px "></div>
              <button id="upload" type="submit">Submit</button>
              <div id = "add" style="margin-top: 20px "></div>
            </div>
          </form>
        <script src="js/session.js"></script>
        <script src="js/cleanAjax.js"></script>
    </body>
</html>